<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Currículo</title>
    <link rel="stylesheet" href="curriculo.css">
</head>
<body>

<h1>Currículo</h1>
<h2>Luana Hilbert, Analista de Dados</h2>

<img class="foto-perfil" title="foto Luana" src="foto_curriculo.jpg" alt="foto">

<p title="bio Luana">
    Sou estudante do curso de <i>Tecnologias da Informação e Comunicação</i> na <b>UFSC</b> Araranguá,
    transferida de Engenharia de Computação.
    Já participei do projeto Meninas Digitais e fui voluntária no projeto PES - Projeto Educação Solidária. <br>
    Sou analista de banco de dados no Grupo Voalle, onde atuo realizando manutenção de dados,
    desenvolvendo relatórios e, principalmente, atuo na sanitização e ETL para migração de dados. <br>
    Possuo duas certificações Microsoft: AZ-900 e DP-900.
    A longo prazo gostaria de trabalhar com banco de dados em cloud. <br>
    Sou fluente em inglês e estou estudando francês. <br>
    Estou aberta a novos desafios e sempre buscando evoluir.
</p>

<table class="tabela-habilidades">
    <thead>
    <tr>
        <th style="background-color: #3c6e47;" colspan="3">Habilidades Técnicas</th>
    </tr>
    <tr>
        <th>Habilidade</th>
        <th>Nível</th>
        <th>Experiência (anos)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Análise de Dados</td>
        <td>Intermediário</td>
        <td>3</td>
    </tr>
    <tr>
        <td>Microsoft Azure</td>
        <td>Iniciante</td>
        <td>0</td>
    </tr>
    </tbody>
</table>

<p>Redes Sociais: </p>
<p>
    <a target="_blank" href="https://www.linkedin.com/in/luanahilbert">
        <img src="linkedin.png" alt="linkedin" width="30">
    </a>
    <a target="_blank" href="mailto:aluno@exemplo.com">
        <img src="gmail.png" alt="gmail" width="30">
    </a>
    <a target="_blank" href="https://www.instagram.com/luanahilbert">
        <img src="instagram.png" alt="instagram" width="30">
    </a>
</p>

<button onclick="document.location='https://www.google.com'">Google</button>

</body>
</html>
