<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Titulo</title>
</head>
<body style="background-color: aquamarine;">
<h1>Titulo</h1>
<h2>Titulo</h2>
<h3>Titulo</h3>
<h4>Titulo</h4>
<h5>Titulo</h5>
<h6>Titulo</h6>
<p>Meu primeiro parágrafo</p>
<p>Meu segundo parágrafo</p>
<p>
    Meu paragrafo com quebra de linha<br>
    aqui esta a segunda linha
</p>

<ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
    <li>Item 4</li>
</ul>

<a href="http://www.google.com">Google</a>

<img src="https://www.w3schools.com/images/w3schools_logo.png" alt="W3Schools" width="104">

<img src="html5.png" alt="HTML5" width="100">

<p title = "exemplo de style" style= "background:crimson; color: #3dc2ff; font-size: 20px">
    Texto azul e maior
</p>

<button onclick="document.location='https://www.google.com'">Ir para o Google</button>

</body>
</html>