<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <h1 style="
        font-family: Arial;
        text-align: center">

        <b>Hello World!</b>

    </h1>

<p>
    <b><i>Olá html</i></b>

    <p style="color:darkgreen; font-size:18px;">
        <strong>Bem-vindo</strong> ao <em>nosso site</em>. Este texto está <mark>formatado</mark> e com estilo aplicado.
    </p>

    <p>
        Fórmula da água: H<sub>2</sub>O<br>
        Potência de dois: 2<sup>3</sup> = 8
    </p>

    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Idade</th>
        </tr>
        <tr>
            <td>Ana</td>
            <td>22</td>
        </tr>
    </table>
</p>

</body>
</html>